.navbar-inverse {
    background-color:#000000;
    /*background-color: #669900;*/
    background-image: none;
    border-color: #000000;
}
.navbar-inverse .navbar-brand {
    font-size: 30px!important;
    font-weight: 700;
    padding-right: 30px;
    margin-top: -6px;
    color: #FFFFFF;
}
.navbar-inverse .navbar-brand i {
    margin-right: 5px;
}
.dropdown-menu {
    background-color: #000000;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #000000;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-image: none;
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #99ff99;
}
.dropdown-menu > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #fff;
    border-bottom-color: #000000;
}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}